.app-header {
  height: 70px;
  font-size: 25px;
  text-align: left;
  padding: 10px;
}

.app-header > .name {
  margin-top: 20px;
  margin-left: 100px;
  float: left;
}

.app-header > .logo {
  height: auto;
  width: 160px;
  float: right;
}
