<div class="grid-container">

  <header class="app-header grid-header">
    <h1 class="name">Amazing todo list app!</h1>
    <img class="logo" src="https://adadrive.fi/wp-content/themes/ada-theme/images/footer-logo.png" />
  </header>

  <section class="grid-menu">
    <app-list-select class="grid-item" (listSelected)="onListSelect($event)"></app-list-select>
  </section>

  <section class="grid-main">
    <app-list-view class="grid-item" [list]="selectedList"></app-list-view>
  </section>

</div>
