<div class="list-select">

  <h3 class="sub-header">Tehtävälistat</h3>
  <p *ngIf="lists.length === 0">
    Ei listoja...
  </p>

  <ul *ngIf="lists.length > 0">
    <li class="list" *ngFor="let list of lists">
      <span class="name" (click)="onListClick(list)">{{ list.name }} </span>
      <a class="remove-list" (click)="removeList(list)">Poista</a>
    </li>
  </ul>

  <hr style="margin-top: 200px;">

  <h3 class="sub-header">Uuden tehtävälistan luonti</h3>
  <p>
    <input name="name" type="text" [(ngModel)]="name" placeholder="Listan nimi"/>
    <button class="add-list" (click)="addList()">Luo uusi lista</button>
  </p>

</div>
