/* Styles for the list-select component */
.list-select {
  padding: 10px;
  background: aliceblue;
  min-height: 100vh;
  width: 200px;
}

.list-select .divider {
  margin-top: 300px;
}

.list-select .sub-header {
  margin: 10px 0;
  text-align: center;
}

.list-select .list span.name {
  font-style: italic;
}

.list-select .list a.remove-list {
  float: right;
}

.list-select input {
  width: 90%;
}
