/* You can add global styles to this file, and also import other style files */

@import "reset.css";

.grid-container {
  display: grid;
  grid-template-areas:
    'header header'
    'menu main'
    'menu main';
  grid-gap: 0;
}

.grid-header {
  grid-area: header;
  text-align: center;
  background: skyblue;
}

.grid-menu {
  grid-area: menu;
}

.grid-main {
  grid-area: main;
}
